<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .card {
        width: 100%;
    }
    img {
        width: 50%;
    }
</style>
<body>
    <ul>
        {% if request.user.is_authenticated %}
        <h6>Hello, {{request.user.username}}</h6>
        <a href="{% url 'logout' %}"> <button> Выйти </button></a>
        {% else %}
        <a href="{%url 'sign_in' %}"> <button> Войти </button></a>
        {% endif %}
    </ul>

    {% for category in categories %}
    <a href="">{{"category.name"}}</a>
    {% endfor %}

    {% for post in posts %}
    <div class="card" >
        <h1>{{post.title}}</h1>
        <h3>Категория: {{post.category}}</h3>
        <img  src="{{post.image.url}}" alt="">
        <p>{{post.text}}</p>
        <p>{{post.author}} - Дата создания: {{post.created}}</p>
    </div>
    {% endfor %}
</body>
</html>